
.desktop-grid {
	position: fixed;
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 15% 85%;
}

.header-component {
	grid-row-start: 1;
}

.game-component {
	grid-row-start: 2;
}

.game-play {
	display: grid;
	grid-template-columns: .075fr 1fr .075fr;
	grid-template-rows: 1fr 1.2fr .07fr;
}

.results {
	grid-row-start: 1;
	grid-column-start: 2;
}

.quest-component {
	grid-row-start: 2;
	grid-column-start: 2;
}