
.desktop-grid {
	position: fixed;
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 15% 85%;
}

.header-component {
	grid-row-start: 1;
}

.game-component {
	grid-row-start: 2;
}