
.login-grid {
	position: fixed;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: .7fr .7fr 1fr .7fr;
}

.code-container {
	display: flex;
	justify-content: center;
}

.code {
	text-align: center;
	font-size: large;
	font-weight: bold;
	width: 70%;
	height: 50%;
	border: solid;
	align-self: center;
}

.user-name-container {
	display: flex;
	justify-content: center;
}

.user-name {
	text-align: center;
	font-size: large;
	font-weight: bold;
	width: 70%;
	height: 50%;
	border: solid;
	align-self: center;
}

.new-user-submit-container {
	height: 50%;
	display: flex;
	justify-content: center;
}

.new-user-submit {
	width: 30%;
	height: 75%;
	border: solid;
	align-self: center; 
}